body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
}

.wrapper {
    width: 104rem;
    margin: 0 auto;
}

.top-0 {
    height: 3.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.find {
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
}

.barra {
    color: rgb(95, 95, 95);
    padding: 0 0.7rem ;
}

.united {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    padding-left: 0.4rem;
    padding-top: 0.2rem;
}

.eu {
    cursor: pointer;
}

.flecha {
    color: #fff;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.two-elements-top {
    display: flex;
    align-items: center;
}

.top-1 {
    display: flex;
    justify-content: space-between;
    background-color:#292828;
}

.nav{
    display: flex;
    align-items: center;
    
}

.list_nav{
    display: flex;
    list-style: none;
    font-size: 1.4rem;

}

.list_nav li {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

li .nav-item {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 0.6rem;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bold;

}

.nav-item:last-child{
    font-size: 1.1rem;
}

.logo {
    padding-left: 4rem;
}

.container-cars {
    margin: auto 0;
}

.cars{
   margin: auto ;
   width: 4rem;
   height: 2.5rem;
   padding-right: 4rem;
}

.background-top{
    background-image: url("../imagenes/welcome-gipson.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    block-size: 39.5rem;
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inset-box {
    background-color: blue;
    width: 27rem;
    height: 30rem;
    margin-right: 15rem;
}

.inset-box>* {
    color: white;
    margin: 0;
}
